{%extends 'base.html'%}

{%block content%}

<style>
    .table-div {
        margin-left: auto;
        margin-top: 10px;
        width: 80%;
    }

    .search-div {
        margin-left: auto;
        margin-top: -207px;
        width: 70%;
    }
</style>

<br>
<h1 class="welcome-txt">Welcome to History page</h1>
{%if messages%}
<br>
{% for message in messages %}
<div class="message_alert" role="alert">
    {{message}}
    <br>
</div>
{% endfor %}
{%endif%}

{% include 'sidebar.html' %}

<div class="search-div">
    <form method="GET" action="{% url 'expenses:history' %}">{%csrf_token%}
        {{form.as_p}}
        <input type="submit" value="Filter" class="btn">
    </form>

</div>

<div class="table-div">

    {% include 'partials/vew_transactions_template.html'%}

</div>


{%endblock%}