{%extends 'base.html'%}

{%block content%}

<style>
    .btn-wallet {
        background-color: rgb(211, 206, 206);
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 5px;
        font-weight: bold;
        font-size: 22px;
        color: black;
        width: 100%;
        cursor: pointer;
    }

    .btn-wallet:hover {
        background-color: grey;
    }

    .index-div {
        margin-left: auto;
        margin-top: -45px;
        width: 80%;
        margin-bottom: 20px;
    }

    .index-div-col {
        margin-left: auto;
        margin-top: -170px;
        width: 80%;
        margin-bottom: 20px;
    }

    .transaction {
        width: 80%;
        float: right;
        margin-top: 38px;
        display: flex;
        flex-direction: row;
    }

    .div-recent-expenses {
        width: 80%;
        margin-left: auto;
        list-style-type: none;
        text-align: center;
    }
</style>
<br>
<h1 class="welcome-txt">Welcome to Dashboard page</h1>
{%if messages%}
<br>
{% for message in messages %}
<div class="message_alert" role="alert">
    {{message}}
    <br>
</div>
{% endfor %}
{%endif%}

<div class="transaction">
    <button class="btn-wallet" type="button" hx-get="{% url 'expenses:add-expense' %}" hx-target="#expense-form"
        hx-swap="beforeend">Add an expense</button>
    <br>

</div>

{% include 'sidebar.html' %}

<div class="index-div-col">
    {% include 'partials/form_columns.html' %}
</div>

<div class="index-div" id="expense-form">
    {% include 'partials/form.html' %}
</div>

<div class="my-4">
    <br>
    <button type="button" class="btn btn_size_80 align_right btn-color-green" id="add-all">Add All</button>
</div>

<br>
<div class="div-recent-expenses">
    <ul class="form-label " id="transaction-list">
        {% for transaction in transactions %}
        {% include 'partials/transaction.html' %}
        {% endfor %}
    </ul>
</div>
{%endblock%}