{%extends 'base.html'%}

{%block content%}

{% load widget_tweaks %}
<style>
    .form_monyhly_filter {
        width: 50%;
        margin-right: 25%;
        margin-top: -215px;
        font-size: 17px;
        font-family: Verdana;
        color: white;
        /*border: 1px solid white;*/
    }

    .div-pie {
        margin-top: -100px;
        width: 80%;
    }

    .aaa {
        display: flex;
        justify-content: space-between;
    }
</style>

<h1 class="welcome-txt">Welcome to Monthly report page</h1>


{% include 'sidebar.html' %}

<form method="POST" class="form_monyhly_filter align_right">{%csrf_token%}
    <label class="form-label">Month</label>
    <div class="aaa">
        <!--<div>{{form.as_p}}</div>-->
        <div class="width_50">{% render_field form.month class="form_input_select width_100" %}</div>
        <div class="width_50"><button type="submit" class="btn-small btn-color-green" value="Filter">Filter</button></div>
    </div>
</form>

<div class="div-pie align_right">
    {%if messages%}
    <br>
    {% for message in messages %}
    <div class="message_alert" role="alert">
        {{message}}
        <br>
    </div>
    {% endfor %}
    {%endif%}

    {{chart|safe}}
</div>







{%endblock%}