<style>
    .menu {
        width: 17%;
        border: 1px solid white;
    }

    .sidebar11 {
        list-style-type: none;
        padding: 0;

    }

    .sidebar11 li a {
        color: rgb(211, 206, 206);
        text-decoration: none;
        font-size: 20px;
        font-family: Verdana;
    }
</style>
<br>
<div class="menu">

    <ul class="sidebar11">
        <hr />
        <li> <a href="{%url 'expenses:index'%}">Dashboard</a> </li>
        <hr />
        <li> <a href="{%url 'expenses:monthly'%}">Monthly</a> </li>
        <hr />
        <li> <a href="{%url 'expenses:history'%}">History</a> </li>
        <hr />
    </ul>

</div>