<form hx-post="{% url 'expenses:add-expense' %}" hx-target="#transaction-list" hx-swap="beforeend"
    hx-on="htmx:afterRequest: this.remove()" hx-trigger="click from:#add-all">{%csrf_token%}
    <div class="row">
        <div class="col-4 col-md-3">
            <label for="{{form.transaction_type.id_for_label}}">{{form.transaction_type.label}}</label>
            {{form.transaction_type}}
        </div>
        <div class="col-4 col-md-3">
            <label for="{{form.amount.id_for_label}}">{{form.amount.label}}</label>
            {{form.amount}}
        </div>
        <div class="col-4 col-md-3">
            <label for="{{form.category.id_for_label}}">{{form.category.label}}</label>
            {{form.category}}
        </div>
        <div class="col-4 col-md-3">
            <label for="{{form.source.id_for_label}}">{{form.source.label}}</label>
            {{form.source}}
        </div>

        <div class="col-3 align-self-end">
            <button type="button" class="btn btn-danger" hx-on="click: this.closest('form').remove() ">Cancel</button>
        </div>
    </div>
</form>