<table class="table table-light table-striped table-hover table-sm table-bordered">
    <thead class=>
        <tr>
            <th scope="col"> Transaction type </th>
            <th scope="col"> Amount </th>
            <th scope="col"> Category </th>
            <th scope="col"> Source </th>
            <th scope="col"> Date </th>
        </tr>
    </thead>
    <tboby>
        <tr>
            <td> {{transaction.transaction_type}} </td>
            <td> {{transaction.amount}} </td>
            <td> {{transaction.category}} </td>
            <td> {{transaction.source}} </td>
            <td> {{transaction.date}} </td>
        </tr>
    </tboby>
</table>